.submitpage{
    margin-left: 250px;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
    .submitpage{
        margin-left: 0px;
    }
}
