.homepage{
    margin-left: 240px;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    .homepage{
        margin-left: 0px;
    }
}
.cardlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}